:root {
  --peach: #e7816b;
  --light-peach: #ffad9b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-grey: #f1f3f5;
  --dark-grey: #333136;
  --primary-font: "Jost", sans-serif;
  --medium-font-weight: 500;
  --regular-font-weight: 400;
  --footer-bg: #fdf3f0;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--regular-font-weight);
}
h1 {
  font-weight: var(--medium-font-weight);
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-weight: var(--medium-font-weight);
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-weight: var(--medium-font-weight);
  font-size: 20px;
  line-height: 26px;
}
.nav-links > a {
  text-decoration: none;
  color: var(--black);
}
div > a {
  text-decoration: none;
  color: var(--light-grey);
}

.card-footer {
  color: var(--light-grey) !important;
}
.card-line {
  color: var(--light-grey) !important;
}
.home-hero-section {
  background-color: var(--peach);
  background-color: url();
  height: 640px;
  width: 1111px;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.web-design {
  background-image: url(./assets/home/desktop/image-web-design-large.jpg);
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  background-size: cover;
  width: 550px;
  height: 320px;
}
.app-design {
  background-image: url(./assets/home/desktop/image-app-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
.graphic-design {
  background-image: url(./assets/home/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
.design-section {
  height: 640px;
  width: 1112px;
}
.description-section {
  width: 1110px;
  height: 412px;
}
.cards .card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
}
.get-in-touch {
  background-color: var(--peach) !important;
  width: 1111px;
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  transform: translateY(50px);
}
.footer {
  background-color: var(--dark-grey) !important;
}
footer img {
  max-width: 12rem;
}
.top-box {
  background-color: var(--peach);
  width: 1111px;
  height: 252px;
  background-image: url(./assets/web-design/desktop/bg-pattern-intro-web.svg);
}
.sample-title {
  color: var(--light-peach);
}
.container {
  max-width: 1111px !important;
}
.navlink > a {
  text-decoration: none;
  color: var(--light-grey);
}
.navigation-section > a {
  width: 550px;
}
.sample-footer {
  background-color: var(--footer-bg) !important;
  height: 100%;
}
.world-class-section,
.real-deal-section {
  width: 1111px;
  height: 480px;
  overflow: hidden;
}
.world-text,
.real-text {
  background-color: var(--footer-bg);
  overflow: hidden;
  background-image: url(./assets/shared/desktop/bg-pattern-call-to-action.svg);
}

.about-hero-section {
  background-color: var(--peach);
  background-image: url(./assets/about/desktop/bg-pattern-hero-about-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  width: 1111px;
  height: 480px;
  overflow: hidden;
}
.location-section {
  width: 1111px;
  height: 360px;
}
.location-section img {
  width: 200px;
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);

  border-radius: 50%;
}
.location-section .card {
  background-image: url(./assets/shared/desktop/bg-pattern-call-to-action.svg) !important;
}
.location-btn {
  background-color: var(--peach) !important;
}
.canada-img {
  overflow: hidden;
}
.canada-text {
  background-color: var(--footer-bg);
  background-image: url(./assets/shared/desktop/bg-pattern-call-to-action.svg);
}

.canada-section,
.aus-section,
.uk-section {
  width: 1111px;
  height: 326px;
}
.contact-section,
.inputs {
  background-color: var(--peach);
  background-image: url(./assets/shared/desktop/bg-pattern-two-circles.svg);
}
@media (max-width: 768px) {
  .home-hero-section {
    width: 327px;
    height: 843px;
    background-image: url();
  }
  .design-section {
    width: 327px;
    height: 798px;
  }
  .web-design {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-web-design.jpg);
  }

  .app-design {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-app-design.jpg);
  }

  .graphic-design {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-graphic-design.jpg);
  }
  .description-section {
    width: 327px;
    height: 1200px;
  }
  .get-in-touch {
    background-color: var(--peach) !important;
    width: 327px !important;
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  }
  .get-in-touch-btn {
    background-color: var(--peach) !important;
    width: 327px !important;
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  }

  .top-box {
    background-color: var(--peach);
    width: 375px;
    height: 320px;
    background-image: url(./assets/web-design/desktop/bg-pattern-intro-web.svg);
  }
  .about-hero-section {
    width: 375px;
    height: 715px;
  }
  .about-hero-section img {
    content: url(./assets/about/mobile/image-about-hero.jpg);
  }

  .world-class-section {
    width: 375px;
    height: 865px;
  }

  .world-img img {
    content: url(./assets/about/mobile/image-world-class-talent.jpg);
  }
  .location-section {
    width: 380px;
    height: 1111px;
  }
  .real-deal-section {
    width: 375px;
    height: 865px;
  }
  .real-deal-section img {
    content: url(./assets/about/mobile/image-real-deal.jpg);
  }
  .contact-text {
    height: 40%;
  }
  .canada-section,
  .aus-section,
  .uk-section,
  .container {
    width: 375px !important;
    height: 714px;
  }
}
