:root {
  --peach: #e7816b;
  --light-peach: #ffad9b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-grey: #f1f3f5;
  --dark-grey: #333136;
  --primary-font: "Jost", sans-serif;
  --medium-font-weight: 500;
  --regular-font-weight: 400;
}
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--regular-font-weight);
}
h1 {
  font-weight: var(--medium-font-weight);
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-weight: var(--medium-font-weight);
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-weight: var(--medium-font-weight);
  font-size: 20px;
  line-height: 26px;
}
.nav-links > a {
  text-decoration: none;
  color: var(--black);
}
div > a {
  text-decoration: none;
  color: var(--light-grey);
}
.card-footer {
  color: var(--light-grey) !important;
}
.card-line {
  color: var(--light-grey) !important;
}
.home-hero-section {
  background-color: var(--peach);
  background-color: url();
  height: 640px;
  width: 1111px;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-1 {
  background-image: url(./assets/home/desktop/image-web-design-large.jpg);
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  background-size: cover;
  width: 550px;
}
.column-2-1 {
  background-image: url(./assets/home/desktop/image-app-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
.column-2-2 {
  background-image: url(./assets/home/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
.design-section {
  height: 640px;
  width: 1112px;
}
.description-section {
  width: 1110px;
  height: 412px;
}
.cards .card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
}
.get-in-touch {
  background-color: var(--peach) !important;
  width: 1111px;
  background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  transform: translateY(50px);
}
.footer {
  background-color: var(--dark-grey) !important;
}
footer img {
  max-width: 12rem;
}

@media (max-width: 768px) {
  .home-hero-section {
    width: 327px;
    height: 843px;
    background-image: url();
  }
  .design-section {
    width: 327px;
    height: 798px;
  }
  .column-1 {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-web-design.jpg);
  }

  .column-2-1 {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-app-design.jpg);
  }

  .column-2-2 {
    width: 327px;
    height: 250px;
    background-image: url(./assets/home/mobile/image-graphic-design.jpg);
  }
  .description-section {
    width: 327px;
    height: 1200px;
  }
  .get-in-touch {
    background-color: var(--peach) !important;
    width: 327px !important;
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  }
  .get-in-touch-btn {
    background-color: var(--peach) !important;
    width: 327px !important;
    background-image: url(./assets/shared/desktop/bg-pattern-small-circle.svg);
  }
}
