:root {
  --peach: #e7816b;
  --light-peach: #ffad9b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-grey: #f1f3f5;
  --dark-grey: #333136;
  --primary-font: "Jost", sans-serif;
  --medium-font-weight: 500;
  --regular-font-weight: 400;
}
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--regular-font-weight);
}
h1 {
  font-weight: var(--medium-font-weight);
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-weight: var(--medium-font-weight);
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-weight: var(--medium-font-weight);
  font-size: 20px;
  line-height: 26px;
}
